<!-- Dropzone -->
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<!-- <script src="{{ url_for('static', filename='js/dropzone_functions.js') }}"></script> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone_styles.css') }}">

<div id="div_dropzone">
    <div class="my-dropzone" id="pdf-dropzone">Drop pdf here or click to upload...</div>
    <div class="dz-preview dz-file-preview well" id="preview-template"></div>
</div>
