<!DOCTYPE html>
<html lang="de" data-bs-theme="light">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/filetype-pdf.svg') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>PDF-Web-Toolkit{% if page == 'project' %} | Project{% endif %}{% if page == 'split' %} | Split{% endif %}{% if page == 'merge' %} | Merge{% endif %}{% if page == 'ocr' %} | OCR{% endif %}</title>
  </head>

  <div class="col-lg-8 mx-auto py-md-5">

    <header class="">
      <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container">
          <a class="navbar-brand" href="/">
            <picture>
              <source srcset="{{ url_for('static', filename='img/filetype-pdf.svg') }}" media="(prefers-color-scheme: dark)">
              <img src="{{ url_for('static', filename='img/filetype-pdf.svg') }}" alt="PDF-Web-Toolkit" height="40">
            </picture>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto flex-fill">
              <li class="nav-item {%if page == 'split'%}active{%endif%}"><a class="nav-link" href="/split">Simple Split</a></li>
              <li class="nav-item {%if page == 'merge'%}active{%endif%}"><a class="nav-link" href="/merge">Simple Merge</a></li>
              <li class="nav-item {%if page == 'ocr'%}active{%endif%}" hidden><a class="nav-link" href="/ocr">Simple OCR</a></li>
              <li class="nav-item {%if page == 'project'%}active{%endif%}"><a class="nav-link" href="/project">Project</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="py-3">
      <div class="container py-3">
        {% if page == 'project' %}
          {% include 'partials/project.html' %}
        {% endif %}

        {% if page == 'split' %}
          {% include 'partials/split.html' %}
        {% endif %}

        {% if page == 'merge' %}
          {% include 'partials/merge.html' %}
        {% endif %}

        {% if page == 'ocr' %}
          {% include 'partials/ocr.html' %}
        {% endif %}
      </div>
    </main>

    <!-- https://getbootstrap.com/docs/5.3/examples/footers/# -->
    <footer class="py-3 my-4 border-top">
      <div class="container py-3">
        <p class="text-center text-body-secondary fw-light text-muted">Developed with ♥ by <a href="https://github.com/tidoni/pdf-web-toolkit" target="_blank">Tidoni</a></p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Toasts -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Success uploading PDF -->
      <div id="success-upload-toast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="{{ url_for('static', filename='img/check-square.svg') }}" class="rounded me-2" alt="Success">
          <strong class="me-auto">Upload Success</strong>
          <small></small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          The File was successfully uploaded.
        </div>
      </div>
      <!-- Warning uploading PDF -->
      <div id="warn-upload-toast" class="toast text-bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="{{ url_for('static', filename='img/x-square.svg') }}" class="rounded me-2" alt="Success">
          <strong class="me-auto">Upload Failed</strong>
          <small></small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          There was a problem uploading the file. Please reload the page and try again.
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
    </div>
  </body>
</html>
