<!DOCTYPE html>
<html>
<head>
    <title>PDF Web Toolkit</title>
    <link rel="shortcut icon" href="/static/icons/filetype-pdf.svg" type="image/x-icon">
    <script src="/static/js/api_handler.js"></script> 
</head>
<body>
    <h1>PDF Splitter</h1>
    <input type="file" id="split_pdfFile" accept=".pdf"><br>
    <button onclick="uploadPDF_split()">Split PDF into individual pages</button>

    <h1>PDF Merger</h1>
    <input type="file" id="merge_pdfFile_1" accept=".pdf"><br>
    <input type="file" id="merge_pdfFile_2" accept=".pdf"><br>
    <button onclick="uploadPDF_merge()">Merge the two selected PDFs</button>
    <div id="output"></div>
</body>
</html>
